*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: #b9e6ff;
    align-items: center;

}


.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu > a{
    color: #ffffff;
    text-decoration: none;
    padding: 35px 0 35px 0;
    width: 50%;
    text-align: center;
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
}
a{
    padding: 38px 0 38px 0;
    border-top: 5px transparent solid;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu > a:hover{
    background-color: #EB9682;
}
.logo{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 50px;
    
}

.carousel-item{
    height: auto;
    max-height: 600px;
    }
.carousel-item>img{
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  #historial{
      display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    justify-content: space-between;
    background-color: #EB9682;
    text-align: center;
    width:20%;

}
#historial > p {
    color: #b9e6ff;
}
#historial > h5{
    color: #b9e6ff;
}
#historial > h4{
    color: #b9e6ff;
}
#historial > img {
    height: 200px;
    width: 200px;
}
 
#contenido{
    justify-content: space-between;
    display: flex;
    background-color: #b9e6ff;
    text-align: center;
    align-items: center;
    border-radius: 25px;
}
#contenido > p {
    color: #b9e6ff;
}
#contenido > h5{
    color: #b9e6ff;
}


#contenido2{
    justify-content: space-between;
    display: flex;
    background-color: #b9e6ff;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;

    border-radius: 25px;
}
#contenido2 > p {
    color: #b9e6ff;
}
#contenido2 > h5{
    color: #b9e6ff;
}
